@using PressfordPublishingSystem.Models
@model IEnumerable<ArticleViewModel>
@{
    ViewBag.Title = "View Articles";
}

<style>
    h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    table {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<h1>Articles</h1>

<a class="btn btn-primary" href="@Url.Action("Edit", "Articles", new { id = 0 })"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;New Article</a>&nbsp;
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Author</td>
            <td>Date Published</td>
            <td>Date Modified</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Id</td>
                <td>@article.Title</td>
                <td>@article.Author</td>
                <td>@article.DatePublished</td>
                <td>@article.DateModified</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = article.Id })" title="Edit Article"><span class='glyphicon glyphicon-edit glyphicon-btn' /></a>&nbsp;
                    <a href="#" onclick="deleteArticle(@article.Id)" title="Delete Article"><span class='glyphicon glyphicon-trash glyphicon-btn' /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function deleteArticle(id) {
            var response = confirm("Are you sure you want to delete this article?");
            if (response) {
                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "post",
                    data: { id: id },
                    success: function (data) {
                        showMessage($("#divSuccess"), "Item Deleted");
                    },
                    error: function (request, status, error) {
                        showMessage($("#divError"), "Error Deleting Item!")
                    }
                });
            }
        }
    </script>
}